# vi: ft=zsh

# shortcuts (mains)
alias g='git'
alias ll='ls -la'
alias q='exit'

# shortcuts (dev tools)
alias vr='vitest run'
alias vi='nvim'

# shadowed commands
alias cat='bat'
alias ls='gls -F --color=auto'
alias ctags="`brew --prefix`/bin/ctags"
alias vim='nvim'
alias view='nvim -M'

# supply some defaults
alias bc='bc --mathlib --quiet'
alias ssh='TERM=xterm-256color ssh'
alias tree='tree -C'

# tools
alias json='python -m json.tool' # pretty-print json
alias showpath='echo $PATH | tr ":" "\n"'
alias speedtest='curl -o /dev/null http://speedtest.wdc01.softlayer.com/downloads/test10.zip'
# alias commit-and-submit='lein test && git add . && git commit && git push && exercism submit src/*'
