# vi: ft=zsh

# shortcuts (mains)
alias g='git'
alias ll='ls -la'
alias q='exit'
alias neo='neovide'

# shortcuts (dev tools)
alias be='bundle exec'
alias nd='next dev'
alias pt='playwright test'
alias sb='supabase'
alias sc='soundcheck warm'
alias tc='tsc --noEmit'
alias vr='vitest run'

# shadowed
alias ls='gls -F --color=auto'
alias ctags="`brew --prefix`/bin/ctags"
alias vi='nvim'
alias vim='nvim'
alias view='nvim -M'

# supply default options
alias bc='bc --mathlib --quiet'
alias ssh='TERM=xterm-256color ssh'
alias tree='LS_COLORS="" tree -C'
alias neovide='neovide . > /dev/null 2>&1 &'

# tools
alias showpath='echo $PATH | tr ":" "\n"'
alias speedtest='curl -o /dev/null http://speedtest.wdc01.softlayer.com/downloads/test10.zip'

# global
alias -g @dev_db="postgresql://postgres:postgres@127.0.0.1:54322/postgres"
alias -g @test_db="postgresql://postgres:postgres@127.0.0.1:55322/postgres"
alias -g @back="--workdir ../backstage"
